body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: blue;
}

.calculator {
    background-color: white;
    width: 30%;
    height: 40vh;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    font-size: 24px;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    height: 170px;
    gap: 20px;
}

.button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 80px; 
    height: 80px; 
}

.number-button {
    background-color: blue;
    color: white;
}

.operation-button {
    background-color: #f2f2f2;
}

.operation-button:hover {
    background-color: #ddd;
}
