body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #333;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

input {
    width: 100%;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button, .operation-button {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: white;
    transition: background-color 0.2s;
}

.operation-button {
    background-color: #ff7800;
}

.operation-button:hover {
    background-color: #ff9e44;
}
